* {
  color: black !important;
}

nav,
footer {
  background-color: #586f99 !important;
}

main {
  padding-bottom: 60px;
}

.card {
  margin-top: 20px;
}

h3 {
  text-align: center;
}

footer {
  height: 120px;
  padding: 0% !important;
}

footer .container {
  position: relative;
  top: 50% !important;
  transform: translateY(-50%);
}
