h3 {
  text-align: center;
}

footer {
  background-color: #590925 !important;
  height: 120px;
  padding: 0% !important;
}

footer .container {
  position: relative;
  top: 50% !important;
  transform: translateY(-50%);
}
